

<div *ngIf = "appState == 'default'">
<h2>Add Todo</h2>
<form (submit) = "addTodo()">
  <input class = "form-control" type="text" size="120" [(ngModel)]="text" [ngModelOptions]="{standalone: true}" >

</form>
</div>
<div *ngIf = "appState == 'edit'">
<h2>Edit Todo</h2>
<form (submit) = "updateTodo()">
  <input class = "form-control" type="text" size="120" [(ngModel)]="text" [ngModelOptions]="{standalone: true}" >

</form>
</div>
<h2>Todo List</h2>
<ul class = "list-group">
  <li *ngFor = "let todo of todos" class = "list-group-item" > 
    <span (click) = "editTodo(todo)">{{todo.text}}</span> <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.text)" > x </button>

  </li>

</ul>


